* {
    margin: 0;
}

body {
    background-image: url('images/Barbie\ Tattoo\ \(3\).png');
    width: auto;
}

header {
    height: 150px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

#text-header {
    color: white;
    font-family: Osaka;
    font-size: 50px;
    margin-top: 45px;
    margin-left: 350px;

    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #c0426c;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    
}

#text-header:hover{
    box-shadow: 0 0 15px #c0426c,
    inset 0 0 15px #c0426c;
    text-shadow: 0 0 5px #c0426c;
}

#link-insta1 {
    text-decoration: none;
}

.portifolio-space {
    width: 80%;
    height: 700px;
    
    margin-left: 140px;
}

#port-text1 {
    font-family: Osaka;
    font-size: 35px;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}



.w3-center {
    margin-top: 10px;
    margin-left: 570px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.w3-content {
    margin-left: 180px;
}

@font-face {
    font-family: Gov3v2;
    src: url('fonts/go3v2.ttf');
}

@font-face {
    font-family: Osaka;
    src: url('fonts/osaka-re.ttf');
}



@media (min-width:350px) and (max-width:450px) {



#text-header {
    color: white;
    font-family: Osaka;
    font-size: 30px;
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 10px;
}

#link-insta1 {
    text-decoration: none;
    margin: 0;
    
}

.portifolio-space {
    width: 90%;
    
    margin-left: 20px;
    height: 700px;
    margin-left: 20px;
}

#port-text1 {
    font-family: Osaka;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


}

@media (min-width:451px) and (max-width:550px) {

    #text-header {
        color: white;
        font-family: Osaka;
        font-size: 30px;
        margin-top: 45px;
        margin-left: 15px;
        margin-right: 30px;
    }

    .portifolio-space {
        width: 90%;
        
        margin-left: 20px;
        height: 700px;
    }

    #port-text1 {
        font-family: Osaka;
        font-size: 25px;
        color: white;
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }
    

}



